/* footer */
footer {
    background-color: #124d7c;
    text-align: center;
    padding: 40px;
    color: #666;
    bottom: 0;
    width: 100%;
}
.integrantes{
    margin: 10px;
    color: white;

}

