*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;}
    
body{
    background-color: black;
}
ul, ol{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
abbr{
    text-decoration: none;
}


.gif {
    width: 100%;
}


/* HEADER */
header {
    background-color: rgb(24, 24, 24);
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.imagenes-logo{
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    justify-content: center;
  }
.alerta{
    margin: 0px;
    width: 60%;
    display: flex;
    justify-content: center;
}
.probando1{
    margin: 0px;
    display: none;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.probando2{
    margin: 0px;
    display: none;
    justify-content: center;
    background-color: red;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;  
}
.logo{
    width: 100%;
    height: 66%;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
    
    flex-direction: column;
}
.logo img{
    height: 90%;
}
.navegador {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}
.navegador img{
    height: 100%;
    margin-right: 10px;
}
.search{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.search input {
    font-size: 17px;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    width: 80%;
    padding: 10px;
    border: none;
    border-bottom: solid 3px rgb(16, 135, 233);
}
.search button {
    font-size: 17px;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    color: white;
    width: 10%;
    padding: 10px;
    border: none;
    border-bottom: solid 3px rgb(16, 135, 233);
    cursor: pointer;
}
.search button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-bottom: solid 3px rgb(16, 135, 233);
}
.navegador ul {
    font-size: 25px;
    width: 40%;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.navegador li {
    padding: 5px 10px;
    border-bottom: solid 3px transparent;
}
#home:hover, #genres:hover{
    border-bottom: solid 3px rgb(16, 135, 233);
}
#my-playlist{
    background-color: rgb(16, 135, 233);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 40px;
    border-bottom: none;
}
#my-playlist:hover{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgb(28, 146, 243);
    border-bottom: none;
}

/*JS*/
 
.closeIcon{
    display: none
 }
 .alert,
 .closeIcon {
    color:rgb(238, 96, 78);
    font-size: 30px;
    margin: 10px;
 }

 
/* FOOTER */
footer {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.integrantes{
    margin: 10px;
}
.copyright {
    width: 20%;
}
.logo-copy {
    width: 5%;
}

/* INDEX.HTML */

.main-home {
    margin-top: 70px;
    margin-bottom: 70px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.lista-songs, .lista-albums, .lista-artist {
    background-color: rgba(255, 255, 255, 0.2);
    width: 28%;
    margin: 0px 30px 0px 30px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.title-songs, .title-albums, .title-artist {
    text-align: center;
    font-size: 200%;
    /*text-shadow: 4px 4px 7px black;*/
    color: rgba(0, 0, 0, 0);
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 175px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
}

.ul-de-songs, .ul-de-albums, .ul-de-artist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.ul-de-songs li, .ul-de-albums li, .ul-de-artist li{
    background-color: rgba(255, 255, 255, 0.1);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.ul-de-songs li:hover, .ul-de-albums li:hover, .ul-de-artist li:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.ul-de-songs li img, .ul-de-albums li img{
    width: 20%;
    border-radius: 10px;
}
.ul-de-artist li img{
    width: 20%;
    border-radius: 50%;
}
.text{
    width: 75%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.text h5{
    font-size: 20px;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.text h5:hover{
    text-decoration: underline;
}
.text p{
    color: rgba(255, 255, 255, 0.7);
    margin: 0px;
    padding-left: 5px;
}
.text p:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}
.fa-plus-circle{
    padding-right: 2px;
    color:  rgb(16, 135, 233);
}
.fa-plus-circle:hover{
    color: rgb(28, 146, 243);
}

/* DETAIL-ARTIST.HTML */
.main-detail-artist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner-detail-artist{
    height: 250px;
    width: 100%;
    overflow: hidden;
    
}
.banner-detail-artist::before{
    position: absolute;
    height: 250px;
    background: linear-gradient(to top, rgb(3, 3, 3, 0.99), rgba(0, 0, 0, 0.18));
    content: "";
    width: 100%;
}

.banner-artist-responsive{
    display: none;
}
.banner-artist {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.artist-detail {
    background-color: rgba(255, 255, 255, 0.2);
    width: 75%;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.banner-track-responsive, .title-artist-responsive, .img-miley-responsive{
    display: none;
}
.img-miley {
    width: 600px;
    border-radius: 30px;
    padding: 20px;
    height: 600px;

}
.description-miley {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.description-miley h1{
    width: 100%;
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.description-miley ul{
    width: 100%;
    margin-bottom: 50px;
}
.description-miley h6{
    width: 100%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
    font-size: 35px;
    margin: 0px;
}
.description-miley li{
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px; 
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.description-miley li:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.description-miley li a:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}
.description-album{
   width: 100%;
   padding: 20px;
}
.artist-albums{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.artist-albums h6{
    font-size: 35px;
    width: 100%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.1);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.artist-albums li{
    width: 18%;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.artist-albums li:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.contenedor-albumes-da{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 70px;
}

.artist-albums li h4{
    justify-content: center;
    margin: 0px;
    padding-left: 7px;
    padding-right: 7px;
   
}
.artist-albums li h4:hover{
    text-decoration: underline;
}
.artist-albums li img{
    width: 100%;
    border-radius: 10px;
}

 /* SEARCH-RESULTS.HTML*/
 .body-search-results{
     display: none;
 }
 .main-results {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-results h2{
    font-size: 40px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}
.main-results article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 5px;
}
.main-results article h3{
    font-size: 30px;
    width: 100%;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-wrap: wrap;
}
.main-results li:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
.main-results h4:hover{
    text-decoration: underline;
}
.main-results p{
    color: rgba(255, 255, 255, 0.7);
}
.main-results p:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}

.result-artist{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.result-artist li{
    background-color: rgba(255, 255, 255, 0.2);
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.result-artist img{
    width: 30%;
    border-radius: 50%;
}
.result-artist h4{
    font-size: 25px;
    margin-left: 30px;
}


.result-songs{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result-songs li{
    background-color: rgba(255, 255, 255, 0.2);
    width: 15%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.result-songs img{
    width: 100%;
    border-radius: 10px;
}
.result-songs li div{
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.result-songs li div h4{
    font-size: 20px;
    width: 100%;
    padding-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.result-songs li div p{
    width: 100%;
    margin: 0px;
}

.result-albums{
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result-albums li{
    background-color: rgba(255, 255, 255, 0.2);
    width: 33%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.result-albums img{
    width: 50%;
    border-radius: 10px;
}
.result-albums li div{
    width: 45%;
}
.result-albums li div h4{
    font-size: 20px;
}
.playlist-search{
    justify-content: flex-start;
}

.result-playlist{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.result-playlist li{
    background-color: rgba(255, 255, 255, 0.2);
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.result-playlist img{
    width: 100%;
    border-radius: 10px;
}
.result-playlist li h4{
    font-size: 20px;
}

/* DETAIL-ALBUM.HTML */
.banner-detail-album{
    height: 250px;
    width: 100%;
    overflow: hidden;
    
}
.banner-detail-album::before{
    position: absolute;
    height: 250px;
    background: linear-gradient(to top, rgb(3, 3, 3, 0.99), rgba(0, 0, 0, 0.18));
    content: "";
    width: 100%;
}

.banner-album-responsive{
    display: none;
}
.banner-album {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.justice-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 35px ;
    line-height: 0;
    margin: 55px;
    border-radius: 25px;
    background-color: rgba(82, 75, 75, 0.5);
    text-shadow: 4px 4px 7px black;
    padding: 30px
 }
.article-main-album{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin: 55px;
    padding: 15px;
 }
.section1-album{
    font-size: 40px;
  }
.fotoalbum{
    height: 650px;
    width: auto;
    border-radius: 25px;
 }
.section2-album{
    font-size: 30px;
 }
.detalles-album{
    font-size: 45px;
    text-shadow: 4px 4px 7px black;
    text-align: center;
 }
.detalles-album:hover{
    background-color: rgba(20, 20, 20, 0.2);
    cursor: pointer;
 }
 .section2-album li{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px;
    border-radius: 10px; 
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.section2-album  li:hover{
    background-color: rgba(61, 59, 59, 0.15);
    cursor: pointer;
}

.genres-album{
    font-size: 45px;
    text-shadow: 4px 4px 7px black;
    text-align: center;
}
.genres-album:hover{
    background-color: rgba(20, 20, 20, 0.2);
    cursor: pointer;}

/* GENRES.HTML */
.banner-genres{
    width: 100%;
    display: flex;
 }
  
 .banner-genres-image{
    width: 100%;
    display: flex;}
  .genre-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 50px ;
    border-radius: 25px;
    line-height: 0;
    background-color: rgba(255, 255, 255, 0.178);
    margin: 65px;
    text-shadow: 4px 4px 7px black;
  }
  .genres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 }
 .genres ul{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.123);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .genres li{
    width: 30%;
    background-color: rgba(255, 255, 255, 0.171);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
 }
 .genres img:hover{
    background-color: rgba(255, 255, 255, 0.123);
    cursor: pointer;
    border-radius: 50%;
   
 }
 .genres li img{
    width: 100%;
    border-radius: 10px;

   
 }
 .genres li h5{
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
 }
 .genres li h5:hover{
    text-decoration: underline;
 }
 .genres li p{
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
 }
 .genres li p:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
 }
  

/* DETAIL-GENRES.HTML */
.banner-gdetail{
    width: 100%;
    display: flex;
   
 }
 .banner-gdetail-image{
    width: 100%;
    display: flex;
}
.banner-detail-genre{
    height: 250px;
    width: 100%;
    overflow: hidden;
    
}
.banner-detail-genre::before{
    position: absolute;
    height: 250px;
    background: linear-gradient(to top, rgb(3, 3, 3, 0.99), rgba(0, 0, 0, 0.18));
    content: "";
    width: 100%;
}

.banner-genre-responsive{
    display: none;
}
.banner-genre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.detail-genre-title{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    font-size: 50px;
    margin: 30px;
    margin-top: 60px;
    line-height: 0;
    border-radius: 25px;
    background-color: rgba(82, 75, 75, 0.5);
    text-shadow: 4px 4px 7px black;
 }
 .detail-genres-article{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
 }
 .dua-pop, .sam-pop, .justin-pop, .miley-pop{
    background-color: rgba(255, 255, 255, 0.5);
  
    height: auto;
    width: 31%;
    padding: 0%;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    font-size: 22px;
    text-align: center;
    text-shadow: 4px 4px 7px black;
 }
 .ul-pop-img{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin:55px;
    align-items: center;
    padding: 20px;
 }
  
 .pop-image{
width: auto;
 height: 300px;
 border-radius: 50%;
 border: 5px solid rgb(24, 130, 218);
 }
 
 .title-pop:hover{
    cursor: pointer;
    text-decoration: underline;
 }

/* DETAIL-TRACK.HTML */
.main-detail-track{
    width: 100%;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.banner-detail-track{
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    height: 250px;
    width: 100%;
    overflow: hidden;
    
}
.banner-detail-track::before{
    position: absolute;
    height: 250px;
    background: linear-gradient(to top, rgb(3, 3, 3, 0.99), rgba(0, 0, 0, 0.18));
    content: "";
    position: absolute;
    width: 100%;
}

.banner-track{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.banner-track-responsive{
    display: none;
}
.track-detail{
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 75%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: flex-start;
}
.img-dua{
    width: 500px;
    height: 500px;
    margin: 20px;
    border-radius: 20px;
}
.info-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.info-track h1 {
    width: 70%;
    padding-top: 30px;
    margin: 0px;
    font-size: 65px;
}
.info-track .add-playlist{
    font-size: 20px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    background-color: rgb(24, 130, 218);
}
.info-track .add-playlist:hover{
    background-color: rgb(28, 146, 243);
    cursor: pointer;
}
.description-track{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 45%;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
}
.album-detail-track{
    font-size: 30px;
    margin: 10px 0px 0px 0px;
    
}
.album-detail-track:hover{
    text-decoration: underline;
}
.info-track h3{
    font-size: 40px;
    padding-top: 35px;
    margin: 0px;
}
.info-track h3:hover{
    text-decoration: underline;
}
.player{
    width: 100%;
}
.player p{
    width: 20%;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
}

/*.player iframe , ponerlo en donde dice player audio */
.player audio{
    width: 100%;
    font-weight: 600;
}

/*PLAYLIST.HTML*/
.main-playlist h1{
    margin-top: 40px;
    font-size: 40px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.2);
}
.playlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.playlist ul{
    width: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.playlist li{
    width: 31.7%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.playlist li:hover{
    background-color: rgba(255, 255, 255, 0.15);
}
.playlist li img{
    width: 100%;
    border-radius: 10px;
}
.playlist li h5{
    font-size: 30px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
}
.playlist li p{
    font-size: 25px;
    margin: 0px;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
.playlist li p:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.9);
}
.link-playlist:hover{
    text-decoration: underline;
}
.fa-trash{
    font-size: 20px;
    margin-left: 20px;
    color:  rgb(16, 135, 233);
}
.fa-trash:hover{
    color: rgb(73, 165, 240);
}



@media (max-width: 420px){

    /*HEADER*/
    header{
        height: 130px;
    }
    .logo{
        display: none;
    }
    .search{
        width: 70%;
    }
    .search button{
        width: initial;
        font-size: initial;
    }
    .search input{
        font-size: initial;
    }
    .navegador ul{
        font-size: 20px;
        width: 100%;
        margin-top: 20px;
        padding: 5px;
    }

    /*FOOTER*/
    .integrantes{
        font-size: 12px;
    }
    .logo-copy{
        width: 20%;
    }

    /*INDEX.HTML*/
    .main-home{
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .lista-songs, .lista-albums, .lista-artist{
        width: 85%;
        margin-bottom: 30px;
    }
    .title-songs, .title-albums, .title-artist{
        height: 150px;
        font-size: 150%;
    }
    .ul-de-songs li, .ul-de-albums li, .ul-de-artist{
        margin-bottom: 0px;
    }
    .ul-de-songs li img, .ul-de-albums li img, .ul-de-artist li img{
        width: 15%;
    }
    .text h5{
        font-size: 15px;
    }
    .text p{
        font-size: 13px;
    }

    /*DETAIL-ARTIST.HTML*/
    .img-miley, .description-miley h1{
        display: none;
    }
    .banner-detail-artist{
        height: 150px;
    }
    .banner-detail-artist::before{
        height: 150px;
    }
    .banner-artist{
        display: none;
    }
    .banner-artist-responsive{
        display: flex;
        width: 100%;
    }
    .title-artist-responsive, .img-miley-responsive{
        display: flex;
    }
    .artist-detail {
        width: 85%;
    }
    .title-artist-responsive{
        font-size: 40px;
        width: 100%;
        justify-content: center;
    }
    .img-miley-responsive{
        display: flex;
        width: 100%;
        padding: 10px;
        border-radius: 30px;
    }
    .description-miley{
        width: 100%;
    }
    .description-miley ul{
        margin-bottom: 30px;
    }.description-miley h6{
        font-size: 25px;
        padding-left: 10px;
    }
    .description-miley li{
        font-size: 15px;
    }
    .popular-songs li a{
        width: 100%;
    }
    .description-album{
        padding-top: 0px;
    }
    .artist-albums{
        flex-direction: column;
    }
    .artist-albums h6{
        margin-top: 0px;
    }
    .artist-albums li{
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        margin: 5px;
    }
    .artist-albums li a{
        width: 30%;
    }
    .artist-albums li img{
        width: 100%;
        padding: 5px;
    }
    .contenedor-albumes-da{
        width: 65%;
        justify-content: flex-start;
    }

    .artist-albums{
        font-size: 10px;
        
    }

    /*SEARCH-RESULTS.HTML*/
    .main-results h2{
       font-size: 25px;
       margin-top: 30px;
       margin-bottom: 30px;
    }
    .main-results article h3{
       font-size: 25px;
       margin-bottom: 0px;
    }
    .result-artist{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .result-artist li{
        width: 90%;
        margin: 5px;
    }
    .result-artist img{
        width: 20%;
    }
    .result-artist h4{
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .result-songs{
        padding-left: 0px;
        padding-right: 0px;
        height: initial;
        padding-top: 10px;
        padding-bottom: 10px;
        width: initial;
        justify-content: center;
    }
    .result-songs li{
        height: initial;
        flex-direction: row;
        margin: 5px;
        width: 85%;
    }
    .result-songs img{
        width: 20%;
    }
    .result-songs li div {
        width: 60%;
        margin-left: 5px;
    }
    .result-songs li div h4{
        font-size: 15px;
        padding-top: 0px;
    }
    .result-songs li div p{
        font-size: 15px;
    }
    
    .result-albums{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .result-albums li{
        height: 190px;
    }
    .result-albums img{
        width: 100%;
    }
    .result-albums li div{
        width: 100%;
    }
    .result-albums li div h4{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 15px;
    }
    .result-albums li div p{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .result-playlist{
        flex-direction: column;
    }
    .result-playlist li{
        width: 70%;
        margin-bottom: 10px;
    }
    .result-playlist li h4{
        font-size: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

 /*DETAIL-ALBUM*/
 .banner-detail-album{
    height: 150px;
}
.banner-detail-album::before{
    height: 150px;
}
.banner-album{
    display: none;
}
.banner-album-responsive{
    display: flex;
    width: 100%;
}
.justice-title{
    font-size: 15px;
    width: initial;
    margin: 0%;
    margin-top: 20px;
    padding: 20px
}

.main-detail-album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;}


.fotoalbum{
width: 230px;
height:auto
}

.article-main-album{
    width:85%;
    flex-wrap: wrap;
    
}


.section1-album{
    margin: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

.genres-album{
    font-size: 25px;
    align-items: center;
}

.detalles-album{
    margin-top: 0px;
    font-size: 30px;
    text-decoration: underline;

}
.section2-album{
    margin: 10px;
    font-size: 20px;
    width: 100%;
}

.section1-album ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2-album li{
    margin: 10px;
    font-size: 20px;
    width: 100%;

}
.section2-album ul{
    display: flex;
    flex-wrap: wrap;
}

 /*GENRES*/
 .genre-title{
    font-size: 30px;
    width: initial;
    margin: 0%;
    margin-top: 20px;
     }

    .genres img{
        width: 200px;
    }
    .genres li h5, .genres li p{
        width: initial;
        font-size: 20px;
    }
    .genres li {
        display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    }

    .lista-genres{
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-content: center;
     }

     .lista-genres li{
        width: 100%;
        align-items: center;     
        padding: 10px;
    }
     
     
      /*DETAIL-GENRES*/

      .banner-detail-genre{
        height: 150px;
    }
    .banner-detail-genre::before{
        height: 150px;
    }
    .banner-genre{
        display: none;
    }
    .banner-genre-responsive{
        display: flex;
        width: 100%;
    }
    .main-detail-genre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .detail-genre-title{
    font-size: 20px;
    width: initial;
    margin: 0%;
    padding: 10px;
    margin-top: 20px;
     }
      
     .detail-genres-article{
        width:90%;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
     }
     .dua-pop, .sam-pop, .justin-pop, .miley-pop{
        width: 100%;
     }
      
     .ul-pop-img{
        border-radius: 15px;
        margin:55px;
        align-items: center;
        padding: 20px;
     }
      
     .pop-image{
    width: 200px;
     height: auto;
     }

    /*DETAIL-TRACK.HTML*/
    .track-detail {
        width: 85%;
    }
    .banner-detail-track{
        height: 150px;
    }
    .banner-detail-track::before{
        height: 150px;
    }
    .banner-track{
        display: none;
    }
    .banner-track-responsive{
        display: flex;
        width: 100%;
    }
    .img-dua{
        padding: 20px;
        margin: 0px;
        border-radius: 30px;
        width: 335px;
        height: 335px;
    }
    .description-track{
        width: 100%;
        margin: 0px;
    }
    .info-track .add-playlist{
        width: 40%;
        width: 100%;
        font-size: 15px;
        margin: 0px;
        margin-bottom: 10px;
    }
    .info-track{
        padding: 10px;
    }

    .info-track h1{
        width: 100%;
        font-size: 35px;
        margin-top: 10px;
    }
    .info-track h3{
        font-size: 25px;
    }
   
    .player p{
        width: 90%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        align-content: center;
        box-sizing: initial;
        
        
    }
    .player-deezer{
        width: 100%;
    }
    .player-deezer iframe{
        width: 100%;
        height: 80px;
    }

    /*PLAYLIST.HTML*/
    .playlist li{
        width: 100%;
        justify-content: initial;
        padding: 10px;
    }
    .playlist li img{
        width: 30%;
    }
    .playlist li h5, .playlist li p{
        width: initial;
        font-size: 20px;
    }
    .playlist li div{
        display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    align-items: flex-start;
    }

}
    