.search{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    box-sizing: border-box;
    background-image: linear-gradient(rgb(24, 24, 24), black );
    width: 450px;
    padding: 10px;
    border: none;
    border-bottom: solid 3px rgb(16, 135, 233);
    display: inline-block;
    margin-top: 12px;
    margin-left: 12px;


}

.boton{
    color: rgb(16, 135, 233);
    background: transparent;
    border: 2px solid rgb(16, 135, 233);
    border-radius: 6px;
    font-size: 125%;
    
    
    
}
.boton:hover {
    background-color: rgb(16, 135, 233);
    color: black;
}


