*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;}
    
body{
    background-color: black;
}
ul, ol{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
abbr{
    text-decoration: none;
}


.gif {
    width: 100%;
}


/* HEADER */

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}


