*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;}
    
body{
    background-color: black;
}
ul, ol{
    padding: 0px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
<<<<<<< HEAD
body {
    font-family: Nunito;
    margin: 0;
    background-color: rgb(255, 255, 255);
=======
abbr{
    text-decoration: none;
>>>>>>> c5acd65e4bfd82ef8eb0b0be8cab6976d205f094
}


.gif {
    width: 100%;
}


/* HEADER */

.user img {
    width: 30px;
    border-radius: 90%;
    margin-left: 10px;
}


<<<<<<< HEAD
/* footer */
footer {
    background-color: #dedede;
    text-align: center;
    padding: 40px 0;
    color: #666;
    bottom: 0;
    width: 100%;
}
=======
>>>>>>> c5acd65e4bfd82ef8eb0b0be8cab6976d205f094
